@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
label,
button,
span {
    font-family: "Urbanist", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
}

.boxnav {
    background-color: #FAFEFF;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1170px;
    padding: 0px !important;
}

.nav-items {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.nav-a {
    font-size: 21px;
    text-decoration: none;
    color: #002060;
    text-align: center;
    font-weight: 600;
}

.nav-b {
    font-size: 21px;
    border: none;
    color: #06B0F0;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.nav-a:hover {
    color: #06B0F0;
}

.nav-b:hover {
    color: #06B0F0;
}

.f-button {
    width: 185px;
    height: 45px;
    border: none;
    font-size: 19px;
    border-radius: 25px;
    background-color: #00B0F0;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}

/* hover button*/
.f-button:hover {
    background-color: #002060;
}

.button3:hover {
    background-color: #002060;
}

.button6:hover {
    background-color: #002060;
}

/* footer section*/
.footer {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    align-items: center;
}

.six-sec {
   background-color: white;
}

.name-f {
    display: flex;
    gap: 48px;
    margin-top: 39px;
    margin-bottom: 30px;
}

.t-two {
    color: #002060;
}

.t-thrid {
    color: #00B0F0;
}

.data {
    font-size: 20px;
    color: #002060;
    font-weight: 600;
}

.store-app {
    width: 200px;
}

.footer-contanier {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.logo-2 {
    margin-top: 48px;
}

.appstore {
    display: flex;
    justify-content: left;
}

.footer-content {
    display: flex;
    margin: auto;
    margin-top: 63px;
    flex-direction: column;
    gap: 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.address-detail {
    font-size: 19px;
    line-height: 27px;
    font-weight: 400;
    color: #8391A1;
    text-align: right;
}

.soi-icon {
    height: 26px;
    width: 25px;
}

.fa-facebook-f {
    font-size: 25px;
    color: #00B0F0;
}

.fa-linkedin {
    font-size: 25px;
    color: #00B0F0;
}

.fa-youtube {
    font-size: 25px;
    color: #00B0F0;
}

.icon {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 72px;
}

.xyz {
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.Copyright {
    margin: 22px 0px;
    display: flex;
    justify-content: space-between;
    color: #8391A1;
    font-size: 16px;
    font-weight: lighter;
    border-top: 2px dashed #ddd;
    padding-top: 22px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 1170px;
}

.privay-1 {
    font-weight: 500;
    font-size: 17px;
}

.privay-2 {
    font-weight: 500;
    font-size: 17px;
}


/* first section*/
.first-sec {
    background-color: #ffffff;
    width: 100%;
}

.main-boxes {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.first-box {
    width: 100%;
}

.heading2 {
    font-weight: 600;
    font-size: 33px;
    color: #002060;
}

.blue {
    color: #06B0F0;
}

.context {
    color: #002060;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    padding: 7px 60px 30px 0px;
}

.heading3 {
    font-weight: 600;
    color: #002060;
    font-size: 33px;
}

.points {
    font-weight: 500;
    color: #333436;
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
    padding-right: 104px;
}

.fa-square {
    color: #00B0F0;
    font-size: 19px;
    padding-right: 15px;
}

.p {
    padding-right: 10px;
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
}

.connection {
    width: 95%;
    padding-top: 26px;
}

/* second section*/
.third-sec {
    position: relative;
    background-color: #E7F7FD;
    margin: auto;
}

.box1 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 23px;
}

.phone {
    position: relative;
    width: 82%;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 74px;
    padding-left: 60px;
    width: 86%;
}

.heading4 {
    color: #002060;
    font-size: 40px;
    font-weight: 600;
}

.context2 {
    color: #002060;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 37px;
    padding-top: 13px;
    line-height: 26px;
    text-wrap: wrap;
}

.button3 {
    font-size: 18px;
    width: 50%;
    height: 48px;
    padding: 7px;
    color: white;
    background-color: #06B0F0;
    border: none;
    border-radius: 35px;
}

/* second section*/
.four-sec {
    position: relative;
    background-image: url("../images/female.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin: auto;
}

.content-box {
    width: 50%;
    padding-top: 65px;
    padding-bottom: 80px;
}

.heading5 {
    font-weight: 600;
    color: #002060;
    font-size: 35px;
}

.first-para {
    width: 84%;
    padding-top: 4px;
    font-size: 18px;
    color: #8391A1;
    line-height: normal;
    padding-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    color: #424242;
    font-size: 14px;
    padding-top: 10px;
    width: 100%;
}

.c:focus {
    border: 2px solid #00B0F0;
}

.c {
    padding: 7px;
    font-size: 18px;
    font-weight: normal;
    color: #636363;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: 80%;
}

#msg {
    height: 75px;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    -webkit-transition: 0.5s;
    padding: 7px;
    outline: none;
    width: 80%;
}

#msg:focus {
    border: 2px solid #00B0F0;
}

.form label {
    padding-bottom: 2px;
}

.text {
    width: 84%;
    display: flex;
    padding-top: 9px;
    align-items: baseline;
    gap: 10px;
    color: #595959;
}

.text1 {
    font-size: 18px;
    line-height: 20px;
}

.check {
    width: 45px;
}

.button6 {
    margin-top: 35px;
    font-size: 18px;
    width: 80%;
    height: 48px;
    color: white;
    background-color: #06B0F0;
    border: none;
    border-radius: 25px
}

textarea {
    font-size: 18px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFEFF;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-items a,
.nav-items .dropdown {
    margin: 0 1rem;
}

.hamburgur {
    display: none;
    cursor: pointer;
}

.nav-items {
    flex-direction: row;
}
.first-button {
    display: flex;
}

/*first responsive */
@media only screen and (min-width: 240px) and (max-width: 475px) {

    .fa-solid, .fas {
        font-weight: 800;
        color: #00206087;
        font-size: 25px;
    }

    .fa-square {
        color: #00B0F0;
        font-size: 19px;
        padding-right: 15px;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 10;
        top: -5px;
    }

    .navbar {
        gap: 58px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 58px;
        width: 100%;
        max-width: 1170px;
    }

    .nav-a {
        font-size: 21px;
        text-decoration: none;
        color: #002060;
        text-align: center;
        font-weight: 500;
    }

    .nav-b {
        font-size: 21px;
        border: none;
        color: #002060;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
    }

    .p {
        padding-right: 0px;
    }

    .boxlogo {
        width: 190px;
    }

    .imglogo {
        padding-left: 47px;
    }

    .main-boxes {
        width: 100%;
        display: flex;
        padding-top: 30px;
        padding-bottom:27px;
        flex-direction: column;
        align-items: center;
    }

    .first-box {
        margin-top: 55px;
        width: 85%;
        margin-left: 5px;
    }
    .heading4 {
       font-size: 25px;
    }

    .heading2 {
        font-size: 25px;
        line-height: 28px;
    }

    .heading3 {
        font-size: 24px;
        line-height: 29px;
    }

    .context {
        font-size: 15px;
        line-height:18px;
        padding: 10px 0px 30px 0px;
    }

    .points {
        font-weight: 500;
        font-size: 17px;
        line-height: 19px;
        padding-top: 20px;
        padding-right: 0px;
    }

    .connection {
        width: 85%;
        padding-left: 24px;
        padding-right: 0px;
        padding-top: 10px;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-top: 0px;
        padding-left: 30px;
    }

    .context2 {
        font-size: 15px;
        line-height: 20px;
        text-wrap: wrap;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-top: 3px;
    }

    .form {
        display: flex;
        flex-direction: column;
        color: #424242;
        font-size: 14px;
        padding-top: 10px;
        width: auto;
        margin-left: 40px;
    }

    .button6 {
        width: 70%;
    }

    .button3 {
        width: 64%;
        height: 42px;
        font-size: 16px;
    }

    .content-box {
        width: 100%;
        padding-top: 33px;
        padding-bottom: 53px;
    }

    .form label {
        padding-bottom: 2px;
        width: 90%;
    }

    .heading5 {
        width: 80%;
        font-size: 25px;
        margin-left: 35px;
        line-height: 33px;
    }

    .first-para {
        padding-top: 6px;
        font-size: 14px;
        line-height: normal;
        padding-bottom: 15px;
        margin-left: 40px;
    }

    .text {
        padding-left: 45px;
        width: 73%;
        line-height: 16px;
        font-size: 15px;
    }

    .button6 {
        margin-left: 47px;
        height: 42px;
        font-size: 16px;
    }

    .selogo {
        width: 200px;
    }

    .footer-contanier {
        display: flex;
        margin: auto;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .logo-2 {
        display: flex;
        margin-top: 16px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }

    .appstore {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data {
        font-size: 15px;
        font-weight: 600;
    }

    .name-f {
        display: flex;
        justify-content: center;
        gap: 18px;
        flex-wrap: wrap;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    .store-app {
        width: 160px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        margin-top: 8px;
        flex-direction: column;
        gap: 0px;
    }

    .address-detail {
        text-align: center;
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
    }

    .icon {
        margin-top:16px;
    }

    .xyz {
        width: 100%;
        max-width: 589px;
        margin: auto;
    }

    .Copyright {
        margin: 14px 0px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-weight: lighter;
        padding-top: 11px;
        padding-bottom: 30px;
        width: 100%;
    }

    .privay-1 {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .privay-2 {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

}

@media (max-width: 471px) {
    .nav-items {
        display: none;
        gap: 2px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 5px 50px 30px;
        width: 50%;
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 100;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .nav-items.show {
        display: flex;
    }

    .hamburgur {
        display: block;
    }

    .nav-items a, .nav-items .dropdown {
        margin: 1rem 0;
    }
}

/* forth responsives*/
@media only screen and (min-width: 475px) and (max-width: 576px) {

    .fa-solid, .fas {
        font-weight: 800;
        color: #00206087;
        font-size: 25px;
    }

    .fa-square {
        color: #00B0F0;
        font-size: 19px;
        padding-right: 15px;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 10;
        top: -5px;
    }

    .navbar {
        gap: 58px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 58px;
        width: 100%;
        max-width: 1170px;
    }

    .nav-a {
        font-size: 21px;
        text-decoration: none;
        color: #002060;
        text-align: center;
        font-weight: 500;
    }

    .nav-b {
        font-size: 21px;
        border: none;
        color: #002060;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
    }

    .p {
        padding-right: 0px;
    }

    .boxlogo {
        width: 190px;
    }

    .imglogo {
        padding-left: 47px;
    }

    .main-boxes {
        width: 100%;
        display: flex;
        padding-top: 30px;
        padding-bottom:27px;
        flex-direction: column;
        align-items: center;
    }

    .first-box {
        margin-top: 55px;
        width: 85%;
        margin-left: 5px;
    }
    .heading4 {
       font-size: 25px;
    }

    .heading2 {
        font-size: 25px;
        line-height: 28px;
    }

    .heading3 {
        font-size: 24px;
        line-height: 29px;
    }

    .context {
        font-size: 15px;
        line-height:18px;
        padding: 10px 0px 30px 0px;
    }

    .points {
        font-weight: 500;
        font-size: 17px;
        line-height: 19px;
        padding-top: 20px;
        padding-right: 0px;
    }

    .connection {
        width: 85%;
        padding-left: 24px;
        padding-right: 0px;
        padding-top: 10px;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-top: 0px;
        padding-left: 30px;
    }

    .context2 {
        font-size: 15px;
        line-height: 20px;
        text-wrap: wrap;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-top: 3px;
    }

    .form {
        display: flex;
        flex-direction: column;
        color: #424242;
        font-size: 14px;
        padding-top: 10px;
        width: auto;
        margin-left: 40px;
    }

    .button6 {
        width: 70%;
    }

    .button3 {
        width: 64%;
        height: 42px;
        font-size: 16px;
    }

    .content-box {
        width: 100%;
        padding-top: 33px;
        padding-bottom: 53px;
    }

    .form label {
        padding-bottom: 2px;
        width: 90%;
    }

    .heading5 {
        width: 80%;
        font-size: 25px;
        margin-left: 35px;
        line-height: 33px;
    }

    .first-para {
        padding-top: 6px;
        font-size: 14px;
        line-height: normal;
        padding-bottom: 15px;
        margin-left: 40px;
    }

    .text {
        padding-left: 45px;
        width: 73%;
        line-height: 16px;
        font-size: 15px;
    }

    .button6 {
        margin-left: 47px;
        height: 42px;
        font-size: 16px;
    }

    .selogo {
        width: 200px;
    }

    .footer-contanier {
        display: flex;
        margin: auto;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .logo-2 {
        display: flex;
        margin-top: 16px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }

    .appstore {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data {
        font-size: 15px;
        font-weight: 600;
    }

    .name-f {
        display: flex;
        justify-content: center;
        gap: 18px;
        flex-wrap: wrap;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    .store-app {
        width: 160px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        margin-top: 8px;
        flex-direction: column;
        gap: 0px;
    }

    .address-detail {
        text-align: center;
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
    }

    .icon {
        margin-top:16px;
    }

    .xyz {
        width: 100%;
        max-width: 589px;
        margin: auto;
    }

    .Copyright {
        margin: 14px 0px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-weight: lighter;
        padding-top: 11px;
        padding-bottom: 30px;
        width: 100%;
    }

    .privay-1 {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .privay-2 {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

}
/* third responsives*/
@media only screen and (min-width: 576px) and (max-width: 768px) {

    .fa-solid, .fas {
        font-weight: 800;
        color: #00206087;
        font-size: 30px;
    }

    .fa-square {
        color: #00B0F0;
        font-size: 19px;
        padding-right: 15px;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 10;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        gap: 198px;
        align-items: center;
        height: 50px;
        width: 100%;
        max-width: 1170px;
    }

    .nav-a {
        font-size: 20px;
        text-decoration: none;
        color: #002060;
        text-align: center;
        font-weight: 500;
    }

    .nav-b {
        font-size: 20px;
        border: none;
        color: #002060;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
    }

    .imglogo {
        padding-left: 47px;
    }

    .main-boxes {
        width: 90%;
        display: flex;
        padding-top: 50px;
        padding-bottom: 60px;
        flex-direction: column;
        align-items: center;
    }

    .button3 {
        font-size: 17px;
        width: 43%;
    }

    .first-box {
        margin-top: 115px;
        width: 100%;
        margin-left: 90px;
    }

    .heading2 {
        font-size: 30px;
    }

    .heading3 {
        font-size: 30px;
    }

    .context {
        font-size: 17px;
        line-height: 22px;
        padding: 10px 60px 30px 0px;
    }

    .points {
        font-weight: 500;
        font-size: 17px;
        line-height: 19px;
        padding-top: 20px;
        padding-right: 76px;
    }

    .connection {
        width: 90%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 70px;
    }

    .c {
        width: 96%;
    }

    #msg {
        width: 96%;
    }

    .phone {
        position: relative;
        width: 77%;
        padding-left: 48px;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-top: 0px;
        padding-left: 30px;
    }

    .context2 {
        font-size: 18px;
        line-height: 22px;
        text-wrap: wrap;
        padding-right: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        color: #424242;
        font-size: 14px;
        padding-top: 10px;
        width: 90%;
        margin-left: 40px;
    }

    .content-box {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .form label {
        padding-bottom: 2px;
        width: 90%;
    }

    .heading5 {
        color: #002060;
        font-size: 35px;
        margin-left: 38px;
    }

    .first-para {
        padding-top: 10px;
        font-size: 18px;
        line-height: normal;
        padding-bottom: 15px;
        margin-left: 43px;
    }

    .text {
        padding-left: 45px;
        width: 70%;
    }

    .button6 {
        font-size: 17px;
        margin-left: 40px;
        width: 86%;
    }

    .selogo {
        width: 250px;
    }

    .footer-contanier {
        display: flex;
        margin: auto;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .logo-2 {
        display: flex;
        margin-top: 40px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }

    .data {
        font-size: 20px;
    }

    .name-f {
        display: flex;
        gap: 35px;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .store-app {
        width: 200px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
        gap: 0px;
    }

    .address-detail {
        text-align: center;
        font-size: 17px;
        line-height: normal;
        font-weight: 400;
    }

    .icon {
        margin-top: 20px;
    }

    .xyz {
        width: 100%;
        max-width: 589px;
        margin: auto;
    }

    .Copyright {
        margin: 22px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: lighter;
        padding-top: 22px;
        padding-bottom: 30px;
        width: 100%;
    }

}

/* second responsives 1248 */
@media only screen and (min-width: 768px) and (max-width:992px) {

    .fa-solid,.fas {
        font-weight: 800;
        color: #00206087;
        font-size: 30px;
    }

    .fa-square {
        color: #00B0F0;
        font-size: 19px;
        padding-right: 15px;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 10;
        top: -1px!important;
    }
   
    .navbar {
        display: flex;
        justify-content: space-around;
        gap: 306px;
        height: 58px;
        width: 100%;
        max-width: 1170px;
    }

    .nav-a {
        font-size: 21px;
        text-decoration: none;
        color: #002060;
        text-align: center;
        font-weight: 500;
    }

    .nav-b {
        font-size: 21px;
        border: none;
        color: #002060;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
    }
    .phone {
        position: relative;
        width: 65%;
        padding-left: 119px;
    }

    .context2 {
        font-size: 18px;
        line-height: 21px;
        padding-top: 5px;
        padding-bottom: 18px;
        margin-right: 9px;
    }

    .imglogo {
        padding-left: 47px;
    }

    .main-boxes {
        width: 100%;
        display: flex;
        padding-top: 50px;
        padding-bottom:42px;
        flex-direction: column;
        align-items: center;
    }

    .first-box {
        margin-top:37px;
        width: 100%;
        margin-left: 0px;
    }

    .boxtext {
        margin-left: 30px;
    }

    .connection {
        width: 70%;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 20px;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-top: 0px;
        padding-left:54px;
    }

    .form {
        display: flex;
        flex-direction: column;
        color: #424242;
        font-size: 14px;
        padding-top: 10px;
        width: 90%;
        margin-left: 35px;
    }

    .content-box {
        display: flex;
        align-items: left;
        width: 100%;
        padding-top:32px;
        padding-bottom: 70px;
        flex-direction: column;
    }

    .heading5 {
        width: 56%;
        font-size: 35px;
        margin-left: 35px;
    }

    .first-para {
        width: 56%;
        padding-top: 10px;
        font-size: 18px;
        line-height: normal;
        padding-bottom: 15px;
        margin-left: 35px;
    }

    .c {
       width: 100%;
    }

    #msg {
       width: 100%;
    }

    .text {
        padding-left: 35px;
    }

    .button6 {
        margin-left: 35px;
        width: 90%;
    }

    .selogo {
        width: 255px;
    }

    .button3 {
        font-size: 15px;
        width: 45%;
    }

    .footer-contanier {
        display: flex;
        margin: auto;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .logo-2 {
        display: flex;
        margin-top: 13px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }

    .data {
        font-size: 21px;
    }
    .privay-1 {
        font-weight: 400;
        font-size: 14px;
    }
    .privay-2 {
        font-weight: 400;
        font-size: 14px;
    }


    .name-f {
        display: flex;
        gap: 35px;
        flex-wrap: wrap;
        margin-top: 13px;
        margin-bottom: 13px;
    }

    .store-app {
        width: 200
        px;
    }

    .icon {
        margin-top: 20px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
        gap: 0px;
    }

    .address-detail {
        text-align: center;
        font-size: 14px;
        line-height: normal;
        font-weight: 400;
    }

    .xyz {
        width: 100%;
        max-width: 766px;
        margin: auto;
    }

    .Copyright {
        margin: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: lighter;
        padding-top: 8px;
        padding-bottom: 30px;
        width: 100%;
    }
}

/* first responsives*/
@media only screen and (min-width: 992px) and (max-width:1253px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        width: 100%;
    }

    .first-box {
        width: 100%;
        padding-left: 60px;
    }

    .connection {
        width: 90%;
        padding-top: 30px;
        padding-left: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        color: #424242;
        font-size: 14px;
        padding-top: 10px;
        width: 100%;
        margin-left: 40px;
    }

    .content-box {
        width: 70%;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .heading5 {
        color: #002060;
        font-size: 35px;
        margin-left: 40px;
    }

    .first-para {
        padding-top: 10px;
        font-size: 18px;
        line-height: normal;
        padding-bottom: 15px;
        margin-left: 40px;
    }

    .text {
        padding-left: 45px;
    }

    .button6 {
        margin-left: 40px;
    }

    .footer-contanier {
        display: flex;
        margin: auto;
        justify-content: space-around;
    }

    .xyz {
        width: 100%;
        max-width: 1091px;
        margin: auto;
    }

}


@media (max-width: 768px) {
    .first-button {
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 471px) and (max-width: 992px) {
    .nav-items {
        display: none;
        gap: 2px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 5px 50px 30px;
        width: 30%;
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 100;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .nav-items.show {
        display: flex;
    }

    .hamburgur {
        display: block;
    }

    .nav-items a,
    .nav-items .dropdown {
        margin: 1rem 0;
    }
}

